@model SelfiesFinderViewModel

@{
    ViewData["Title"] = "Selfie finder";
}

<div class="text-center">
    <h1 class="display-4">Recherche de wookies</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            Arme de préférence
            @*<select width="400px" name="htmlMainWeapon" id="htmlMainWeapon">
            <option value="">Choose here</option>
            <option value="Sabre vert">Sabre vert</option>
            <option value="Sabre vert">Sabre bleu</option>
            <option value="Sabre vert">Bow</option>
        </select>*@

            @Html.DropDownList("htmlMainWeapon", Model.MainWeaponsSelectList, "Select Main weapon")

        </div>
        <div class="col-sm"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <table border="1">
                <tr>
                    <th>Id</th>
                    <th>Prénom</th>
                    <th>Nombre de poils</th>
                    <th>nombre de selfies</th>
                    <th>Arme de préférence</th>
                    <th>Nombre d'armes auxiliaires</th>
                </tr>

                @foreach (var wookie in Model.Wookies)
                {
                    <tr>
                        <td>@wookie.Id</td>
                        <td>@wookie.Prenom</td>
                        <td>@wookie.NbPoils</td>
                        <td>@wookie.Selfies.Count</td>
                        <td>@wookie.MainWeapon.Label</td>
                        <td>@wookie.SecondaryWeapons.Count</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<a href="/home">< Retour</a>
